<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.UserMapper">

    <select id="getUser" resultType="com.zc.domain.User">

        select * from  Users where id=1;

    </select>
    <select id="getU" resultMap="getU">

      select user_id ,user_name,user_password from tb_user where user_id =#{id} ;
    </select>
    <resultMap id="getU" type="com.zc.domain.Users">
        <result column="user_id" property="id" />
        <result column="user_name" property="name" />
        <result column="user_password" property="password" />

    </resultMap>


</mapper>